<!--Card-->
<div class="card rounded-5 mb-4">
  <!--Card image-->
  <img class="img-fluid rounded-top" [src]="item.image">
  <!--/.Card image-->
  <!--Card content-->
  <div class="card-block text-center">
    <!--Title-->
    <h5 class="card-title">{{ item.name }}</h5>
    <small>{{item.description}} </small>
    <!--Text-->
    <p>
      <span class="text-success pe-1">
        <strong>${{ item.price - item.discount }}</strong>
      </span>
      <span class="text-danger">
        <small><s>${{ item.price }}</s></small>
      </span>
      <small class="ps-2">{{ getCount(item) > 0 ? 'x ' + getCount(item) : '' }}</small>
    </p>
    <button type="button" (click)="agregar(item)" class="btn btn-primary mb-3"><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar</button>
  </div>
  <!--/.Card content-->
</div>
<!--/.Card-->
