<nav class="navbar navbar-fixed-top">
  <a  [routerLink]="'/home'" class="nav-link ps-2 ">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <span class="hidden-sm-down ps-1">Home</span>
  </a>
  <a  [routerLink]="'/cart'" class="nav-link ps-2 ">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <span class="hidden-sm-down ps-1">Cart</span>
  </a>
</nav>
