<app-menu></app-menu>
<section class="h-100" style="background-color: #fff;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3  *ngIf="cart.length !== 0" class="fw-normal mb-0 text-black">Pedido</h3>
        </div>
        <div *ngIf="cart.length == 0"><h3 class="text-center">Carrito vacio seguir comprando <a [routerLink]="'/home'">aquí</a></h3></div>
        <div  *ngFor="let item of cart" class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  [src]="item.article.image"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{ item.article.name }}</p>
                <p><span class="text-muted">{{ item.article.description }}</span></p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                  (click)="addItem(item,-1)">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form1" min="0" name="quantity" [value]="item.count" type="number"
                  class="form-control form-control-sm" />

                <button class="btn btn-link px-2"
                  (click)="addItem(item,1)">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">${{ ((item.article.price - item.article.discount) * item.count).toFixed(2) }}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#" (click)="removeItem($event, item)" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="cart.length !== 0" class="card">
          <div class="card-body">
            <button type="button" (click)="submit()" class="btn btn-warning btn-block btn-lg">Proceder a pagar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
