<app-menu></app-menu>
<section class="h-100" style="background-color: #fff;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="row">
          <!-- Sidebar -->
          <div class="col-lg-3">
            <!--Panel-->
            <div class="card mb-2">
              <div class="card-header">
                Categorías
              </div>
              <div class="card-block">
                <ul class="pt-3">
                  <li><a href="#" (click)="filterCategory($event)">Todas las categorías</a></li>
                  <li  *ngFor="let item of categories"><a href="#" (click)="filterCategory($event, item)">{{ item.name }}</a></li>
                </ul>
              </div>
            </div>
            <!--/.Panel-->
          </div>
          <!-- /.Sidebar -->
          <!-- Content -->
          <div class="col-lg-9">
            <!-- Products Grid -->
            <section class="section">
              <!-- First row -->
              <div class="row">
                <!-- First column -->
                <div *ngFor="let article of items" class="col-lg-4 col-xs-12">
                  <app-article [item]="article"></app-article>
                </div>
              </div>
              <!-- /.First row -->
            </section>
            <!-- /.Products Grid -->
          </div>
        </div>
        <!-- /.Content -->
      </div>
    </div>
  </div>
</section>
